<div class="notice--info" style="font-size: inherit !important; padding-top: 0.125em;">
  <h2>{{ site.mailchimp.title }}</h2>
  {{ site.mailchimp.lead | markdownify }}

  {%comment%}
    The 'u' and 'id' fields are passed directly to the target URL because when passed
    as 'value' properties on hidden input fields, they are filtered out during the build.
  {%endcomment%}

  <form target="_blank" method="post" action="https://{{ site.mailchimp.list }}.{{ site.mailchimp.dc }}.list-manage.com/subscribe/post?u={{ site.mailchimp.u }}&amp;id={{ site.mailchimp.id }}" novalidate style="background-color: inherit; padding: 0; margin: 0;">

    {% for field in site.mailchimp.fields %}
      {% assign type = field[1].type %}
      {% assign merge = field[1].merge %}
      {% assign placeholder = field[1].placeholder %}

      <div class="form-group">
        <input type="{{ field.type }}" name="{{ field.merge }}" placeholder="{{ field.placeholder }}">
      </div>
    {% endfor %}

    <div class="form-group">
      <button type="submit" class="btn btn--info btn--large">{{ site.mailchimp.confirm }}</button>
    </div>
  </form>

</div>
